decorator==4.0.10
Django==1.10.4
django-bootstrap-breadcrumbs==0.8.2
ez-setup==0.9
imageio==2.0.1
moviepy==0.2.2.11
music21==3.1.0
MySQL-python==1.2.5
numpy==1.11.2
Pillow==3.4.2
six==1.10.0
tqdm==4.10.0
unroll==0.1.0
